#navbar{
    display: flex;
    background-color: rgba(234, 28, 28, 0.815);
    border: 2px solid rgba(86, 224, 15, 0.88);
    border-radius: 5px;
    flex-wrap: wrap;
}
#logo{
    display: inline-block;
    margin: 5px 5px;
    width: 20 vw;
    padding: 5px;
    background-color: white;
    border-radius: 30px;
}
.content{
    display: block;
    margin : auto;
   
}
.items{
    color: rgb(0, 0, 0);
    display: flex;
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin:  3px;
    align-items: center;
    width: 150px;
    font-weight: bolder;
    font-size: 20px;
    font-family:cursive ;
    /* flex-wrap: wrap; */
    cursor: pointer;
}
.items:hover{
    color:white;
    text-decoration: underline;
}


.box{
    /* display: inline-block; */
    display: flex;
    /* border: 2px solid black; */
    height: 790px;
    margin: 30px 10px;
}


.filterbox{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 15%;
    height: 460px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #ffa538;
}
.filter{
    color: black;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.filter_menu{
    color: black;
    font-weight: bold;
}
.Price_tags{
    font-weight: normal;
}

.allfoodbox{
    /* border: 1px solid black; */
    margin: 5px 10px;
    padding: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px;

}
.foodbox{
    display: grid;
    /* grid-template-columns: 2fr 2fr; */
    grid-template-rows: 3fr 1fr ;
    border: 1px solid black;
    border-radius: 8px;
    width:330px;
    height: 240px;
    margin: 5px;
    background-color: rgb(236, 236, 228);
} 
.menubox{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.img{
    /* display: inline-block; */
    margin: 8px 8px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 8px;
}
.menu_name{
    /* border: 1px solid black; */
    margin: 5px;
    height: 90%;
   
}
.menu_name a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(199, 42, 15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px 7px;
    /* border: 1px solid black; */
    /* border-radius: 14px; */
    margin: 4px;
    text-decoration: underline;
    /* text-align: center; */
}
.menu_name li{
    color: rgb(4, 4, 34);
    font-weight: bold;
}
.order{
    border: 1px solid black;
    border-radius: 20px;
    width: 80%;
    /* margin: 10px 10px; */
    text-align: center;
    background-color: #e00e0e;
    margin: auto;
}
.order a{
    
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 25px;
    font-weight: bolder;
}